body {
    display: grid;
    grid-template-columns: auto 1fr auto;
	font-family: Montserrat, Helvetica, sans-serif;
    display: block;
    margin: 0 auto;
    }
header, footer{
    background-color: #077A7D;
    text-align: center;
    padding: .4rem;
    }
label {
    border: red solid 2px;
}
main{
    display: block;
    margin: 0 auto;
    padding: 19px;
    background-color: #ffffff;
    border: pink solid 2px;
    }
fieldset{
    margin-top: 20px;
    padding: 10px;
    margin-bottom: 0;
    border-radius: 6px;
    border: red solid 2px;
    }
header h1, footer p {   
	color: #fff;
    display: block;
    font-weight: 400;
    }
h2{
    color: #077A7D;
    font-size: 4rem;
    
    }
form{
    margin: 0 auto;
    background-color: #fff;
    

    }
.heading {
	display: block;
    color:#077A7D;
    margin: 20px 0 6px 0; 
    padding-left: 5px;
    }
label[name=product]{
    margin-top: 0;
    
}
input[type=text], 
input[type=date], 
option[type=options], 
#review, 
select[id=product] {
    display: block;
    border: solid 1px #999;
    border-radius: 6px;
    color: #555;
    padding:.65rem;
    width: 94%;
    appearance: none;
    margin: 6px 0 0 5px;
    }
select[id=product] {
    width: 45%;
}
input[type=date], 
select[type=product],
textarea[type=review],
#username {
    font-size:.85rem; 
    }
input[type=date]{
    width: 40%;
    }
.checkbox{
    display: block;
    margin-top: 4px;
    color: #06202B;
    font-weight: 400;
    }
#checkbox{
padding-left: 5px;
}

/* stars */
input[type="radio"] {
	display: none;
	position: relative;
	caret-color: rgba(0, 0, 0, 0);
    }
.stars {
	display: flex;
	flex-direction: row-reverse;
	justify-content: left;
    }
.stars > label {
	color: #06202B;
	width: 30px;
	height: 30px;
	font-size: 2rem;
	margin-left: 5px;
	display: flex;
	align-items: center;
	caret-color: rgba(0, 0, 0, 0); /* remove blinking cursor*/
    }
.stars > label:hover {
	color: #06202B;
    }
.stars > label::before {
	content: "\2606";
    }
.stars input:checked ~ label::before {
	content: "\2605";
    }
a {
	font-size: 8px;
	margin-top: .5rem;
    color:  #077A7D;
    list-style: none;
    text-decoration: none;
    }
input[type=submit]
    {
        background-image:linear-gradient( #077A7D, #06202B);
        color: #fff;
        padding: .8rem;
        border-radius: 6px;
        width: 100%;
        margin-top: 20px;
        font-size: 1.5rem;
        border: 0;        
    }
#thanks{
        font-size: 4rem;
        font-weight:700;
        color: #06202B;
    }
#feedback{
        font-size: 2rem;
        color: #077A7D;
    }
@media screen and (min-width: 600px) {
    body{
        background-color: #7AE2CF;
        }
        main{
            display: block;
            min-height: 700px;
            max-width: 430px;
            margin: 0 auto;
            padding: 30px;
            background-color: #ffffff;
           
        
            }
    }
    
