
/* ------------------------------- Colour Scheme ------------------------------ */
/* 
Green Darker        { color: #1C2611; }
Green Dark          { color: #31401B; }
Green pastel        { color: #8EA66A; }
Green pastel light  { color: #A9BF78; }
black               { color: #0D0D0D; } 
*/
.member-form{
  background-color: #fff;
  margin: 0 auto;
  margin-top: 50px;
}

fieldset{
    margin-top: 20px;
    margin-bottom: 0;
    border-radius: 6px;
    }

form{
    background-color:#A9BF78;
    padding: 20px 20px 30px 20px;

    }

label, input, select {
    display: block;
    padding: 10px;  
}

input, select {
    width: 88%;
}
textarea {
    width: 92%;
}

input, select , textarea {
    margin-left: 10px;
}

input[type=submit] {
margin: 0 auto;
 margin-top: 30px;
 background-color: #1C2611;
 color: #fff;
 border: none;
 border-radius: 7px;
 width: 53%;
 
}
@media only screen and (min-width: 38rem) {
input, select {
    width: 94%;
}
textarea {
    width: 97%;
}
}
