/* ------------------------------- Colour Scheme ------------------------------ */
/* Color Theme Swatches in Hex */
/* 
Green Darker        { color: #1C2611; }
Green Dark          { color: #31401B; }
Green pastel        { color: #8EA66A; }
Green pastel light  { color: #A9BF78; }
black               { color: #0D0D0D; } 
*/

/* ------------------------------- Global Styles ------------------------------ */
body {
  margin: 0 auto;
   font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
h1{
  font-weight:700;
  font-size: 2.4rem;
  color: #31401B;
}
h2{
  font-weight:600;
  font-size: 1.5rem;
  color: #31401B;
}
h3,h4{
  font-weight: 700;
  color: #31401B;
}
p, li {
  font-weight: 400;
  line-height: 1.5rem;
  color:#1C2611;
}
span{
  color: #A9BF78;
  font-weight: 400;
}

.buttons{
  display: block;
  padding: 10px 20px;
  background-color:  #A9BF78;
  text-decoration: none;
  text-align: center;
  font-weight: 700;
  border-radius: 8px;
  color: #31401B;
  width: 300px;
  margin: 0 auto;
}
#button{
  margin: 50px;
}

section{
margin: 15px;
}


/* ------ Header -------------------------------------------------------------- */
header {
  display: grid;
  grid-template-columns: 24px auto 44px;
  align-items: end;
  column-gap: 8px;
  background-color:#1C2611;
  color: #fff;
} 
header img {
  display: block;
  width: 27px;
  height: auto;
  padding: 7px;
}
header span {
  font-size: 1.5rem;
  font-weight: 100;
  margin: 0  0 6px 15px;
}

.hamburger {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 2rem;
  color: #A9BF78
}

.hamburger::before {
  content: "\2630";
}

.hamburger.show::before {
  content: "\00D7";
}  
/* -------------------------------nav ------------------------------ */
.navigation, .pro-nav{
  display: none;
  background-color:#A9BF78;
  margin: 0 auto;
  font-weight: 400;
}
 .navigation.show, .pro-nav.show {
  display: block; 
}
.navigation ul, .pro-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navigation a {
  display: block;
  padding: .3rem 30px;
  text-decoration: none;
  color: #1C2611;
  font-weight: 400;
   
}
.current a {
  background-color:#31401B;
  color:#fff;
}

.navigation a:hover {
  background-color:#1C2611;
  color:#fff;
  font-weight: 400;
}


/* ------------------------------- sections ------------------------------ */

/*-------Article--------*/

.site-info{
  max-width: 900px;
  margin: 0 auto;
  padding: 20px 20px 20px;
}
.site-info h1{
  font-size: 3rem;
  margin-top: 0;
}

 /* ------ Footer ------------------------------------------------------------------- */
footer {
  background-color:#0D0D0D;
  padding: 1rem 10px;
}

footer p, #lastModified {
  color: #A9BF78;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  text-align: center;
}

.social {
  display: flex;
  justify-content: center;
  column-gap: 8px;
}

.social a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 22px;
}

.social img {
  width: 22px;
  height: 22px;
}

.social a:hover {
  background-color: #ddd;
}