/* ------------------------------- Colour Scheme ------------------------------ */
/* Color Theme Swatches in Hex */
/* 
Green Darker        { color: #1C2611; }
Green Dark          { color: #31401B; }
Green pastel        { color: #8EA66A; }
Green pastel light  { color: #A9BF78; }
black               { color: #0D0D0D; } 
*/

/* ------------------------------- main ------------------------------ */

  
/* -------------------------------nav ------------------------------ */

#nav-chamber {
  background-color: #002333;
}
#nav-chamber a {
  color:#ffffff;
}
#nav-chamber .current {
  background-color:#9c1581;
}
/* ------------------------------- hero ------------------------------ */

.hero {
  text-align: right;
  display: block;
  margin: 0 auto;
  width: 500px;
  height: 165px;
  }
  
  .hero img{
  position: relative;
  margin-top: -163px;
  z-index: -1;
  }

  .hero h1{
    z-index: 2;
    color: #fff;
    margin-right:30px;
    padding-top: 60px;
  }

  #but-chamber{
    padding: 10px 40px;
    margin:  30px;
    border-radius: 7px;
    border:none;
    background-color:#9c1581;   
    text-decoration: none;
    color: #fff;
  }
  #but-article a{
    text-decoration: none;
    color: #fff;
  }
    #main-title {  
    margin: 0 10px 0 0;
    }
  /* ------------------------------- sections ------------------------------ */

/*-------Article--------*/

.site-info{
  width: 840px;
  margin: 0 auto;
  padding: 0 30px 20px 30px;
}