/* ------------------------------- Colour Scheme ------------------------------ */
/* Color Theme Swatches in Hex */
/* 
Green Darker        { color: #1C2611; }
Green Dark          { color: #31401B; }
Green pastel        { color: #8EA66A; }
Green pastel light  { color: #A9BF78; }
black               { color: #0D0D0D; } 
*/

/* ------------------------------- main ------------------------------ */



  
/* -------------------------------nav ------------------------------ */

.pro-nav {
  display: none;
  background-color: #002333;
  margin: 0 auto;
}
.pro-nav.show {
  display: block; 
}
.pro-nav a {
  color:#ffffff;
  display: block;
  padding: .8rem 30px;
  text-decoration: none;
}
.current {
  background-color:#9c1581;
}

.pro-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.current a {
  color:#fff;
}
.navigation a:hover {
  background-color: #002333;
  color:#fff;
}
/* ------------------------------- hero ------------------------------ */

.tutu-hero {
  display: block;
  margin: 0 auto;
  padding-bottom: 50px;
  width:900px;
  }
  /* ------------------------------- sections ------------------------------ */

/*-------Article--------*/

.site-info{
  max-width: 860px;;
  margin: 0 auto;
  padding: 0 20px 20px 20px;
}