/* ------------------------------- Colour Scheme ------------------------------ */
/* Color Theme Swatches in Hex */
/* 
Green Darker        { color: #1C2611; }
Green Dark          { color: #31401B; }
Green pastel        { color: #8EA66A; }
Green pastel light  { color: #A9BF78; }
black               { color: #0D0D0D; } 
*/

/* ------------------------------- Global Styles ------------------------------ */
body {
  margin: 0 auto;
   font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
h1{
  font-weight:700;
  color: #8EA66A;
}
h2{
  font-weight:700;
  color: #31401B;
}
h3,h4{
  font-weight: 700;
  color: #31401B;
}
p, li {
  font-weight: 400;
  line-height: 1.5rem;
  color:#31401B;
}
span{
  color: #A9BF78;
  font-weight: 400;
}
/* ------------------------------------- button - view packages*/
.buttons{
  display: block;
  padding: 20px 40px;
  background-color:  #A9BF78;
  text-decoration: none;
  text-align: center;
  font-weight: 700;
  border-radius: 8px;
  color: #31401B;
  margin: 0 auto;
}
#button{
  margin: 50px;
}

section{
margin: 15px;
}


/* ------ Header -------------------------------------------------------------- */
header {
  display: grid;
  grid-template-columns: 24px auto 44px;
  align-items: end;
  column-gap: 8px;
  background-color:#1C2611;
  color: #fff;
} 
header img {
  display: block;
  width: 27px;
  height: auto;
  padding: 7px;
}
header span {
  font-size: 1.5rem;
  font-weight: 100;
  margin: 0  0 6px 15px;
}

.hamburger {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 2rem;
  color: #A9BF78
}

.hamburger::before {
  content: "\2630";
}

.hamburger.show::before {
  content: "\00D7";
}  
/* -------------------------------nav ------------------------------ */
.navigation, .pro-nav{
  display: none;
  background-color:#A9BF78;
  margin: 0 auto;
  font-weight: 400;
}
 .navigation.show, .pro-nav.show {
  display: block; 
}
.navigation ul, .pro-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navigation a {
  display: block;
  padding: .3rem 30px;
  text-decoration: none;
  color: #1C2611;
  font-weight: 400;
   
}
.current a {
  background-color:#31401B;
  color:#fff;
}

.navigation a:hover {
  background-color:#1C2611;
  color:#fff;
  font-weight: 400;
}


/* ------------------------------- sections ------------------------------ */

/*------------------------------Article */

.site-info{
  max-width: 900px;
  margin: 0 auto;
  padding: 20px 20px 20px;
}
.site-info h1{
  font-size: 3rem;
  margin-top: 0;
}

/*------------------------------Packages */
#package div{
  border: #8EA66A 1.5px solid;
  margin:10px;
  padding:0 20px;
  font-weight: 900;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "name name name monthly-fee"
    " webdesign webdesign webdesign webdesign"
    "included included  included included";    
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}
#package div:hover{
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  transform: translateY(-3px);
}

#name { 
  grid-area: name; 
  font-size: 1.5rem;
  font-weight: 900;
  text-align: left;
}
#monthly-fee { 
  grid-area: monthly-fee; 
  text-align: right;
  font-size: 1.5rem;
   font-weight: 900;
}
#webdesign { 
  grid-area: webdesign;
  font-size: 1rem;
   font-weight: 900;
   margin: -10px 0 -5px 0;
}
 
#includes { 
  grid-area: included; 
  font-size: .8rem;
  line-height: 1.3rem;
  text-align: left;
 }
 /* ------------------------------- package thanks page  */
.thanks h1{
  font-size: 3rem;
  text-align: center;
}
.thanks h3{
  text-align: center;
  padding-bottom: 20px;
}
#results p{
  text-align: center;
}
.close{
  padding-top:30px ;
  text-align: center;
}
.close a{
  background-color:#8EA66A;
  color:#fff;
  padding: 15px 70px;
  margin: 0 auto;
  text-decoration: none;
  border-radius: 7px;
}/*button*/
.thanks a:hover {
  color:#002333;
  cursor: pointer;
  background-color: #fff;
  border: solid 3px  #159A9C;
}
 /* ------------------------------- portfolio page button  */
.portfolio{
  text-align: center;
}
.portfolio button{
  padding: 30px 50px;
  margin: 10px;
  text-align: center;
  background-color: #A9BF78;
  border-radius: 8px;
  border: none;
}
.port-pop{
 position: fixed !important;
         position: fixed !important;
        top: 50%;
        left:50%;
        transform: translate(-50%, -50%);
        width: 80vw;      /* almost full width on mobile */
        padding: 15px;
        border-radius: 8px;
        border: 1px solid #ccc;
        background: #fff;
        box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    }

    dialog::backdrop {
        background: rgba(0,0,0,0.3); /* optional overlay */
    }
.port-pop button{
  color: #002333;
  background-color:#fff;
  border: none;
}


 /* ------ Footer ------------------------------------------------------------------- */
footer {
  background-color:#0D0D0D;
  padding: 1rem 10px;
}
footer p, #lastModified {
  color: #A9BF78;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  text-align: center;
}
.social {
  display: flex;
  justify-content: center;
  column-gap: 8px;
}
.social a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 44px;
  border-radius: 22px;
}
.social img {
  width: 22px;
  height: 22px;
}
.social a:hover {
  background-color: #ddd;
}