@media only screen and (min-width: 38rem) {

    /* ------------------------------- nav ----------------------------- */
    header {
        grid-template-columns: 24px auto ; 
    }
    /* ------------------------------- hero ---------------------------- */
 
}

   
    

   

    
    
    
 
    
    
    
   
    

  
}