@media only screen and (min-width: 38rem) {

    /* ------------------------------- nav ----------------------------- */
    body{
        width: 900px;
        margin: 0 auto;
    }
    header {
        grid-template-columns: 24px 1fr; 
    }
    /* ------------------------------- hero ---------------------------- */
  .hamburger {
        display: none;
    }
    .navigation{
        display: block; 
    }
    .navigation ul {
        display: flex;
    }

   
    

   

    
    
    
 
    
    
    
   
    

  
}