/* ------------------------------- Colour Scheme ------------------------------ */
/* #B4BEC9 light gray
/* #159A9C aqua green
/* #002333 navy blue
/* #DEEFE7 pastel green
/* FFFFFF white

/* ------------------------------- Business directory ------------------------------ */

/* -- global styles ------------------------ */

#card{
  padding: 10px; 
} /* -- buscard section --*/

.member-card {
  border: 1px solid #ddd;
  padding: 1rem;
  margin: 0 5px 10px;
  display: flex;
  align-items: center;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}/* -- business border --*/

.member-card:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  transform: translateY(-3px);
}/* -- business border glow --*/

.menu{
  justify-self:center;
  }/* -- gridlist buttons --*/

.menu button {
  background-color: #002333;
  color: white;
  padding: 8px 40px;
  border-radius: 8px;
  margin: 10px 10px 15px 10px;  
  border: none;
}/* -- buttons --*/

.member-card h2 {
  font-size: 1.25rem;
  margin: 0.5rem 0 0.25rem 0;
  color: #002333;
} /* -- business name --*/

.member-card p {
  margin: 0.25rem .5rem;
  font-size: 0.95rem;
  color: #555;
  text-align: center;
}/* -- business membership and address --*/

.member-card .membership {
  font-weight: 600;
  text-transform: capitalize;
  color: #b88a00;
}/* -- business membership --*/

.member-card a {
  color: #0066cc;
  text-decoration: none;
}/* -- weblink --*/

/* -- Grid view toggle ------------------------ */

.grid-view {
  display: grid !important;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
}/* -- grid section --*/

.grid-view .member-card {
  flex-direction: column;
  text-align: center;
}/* -- grid flow --*/

/* -- Grid view toggle ------------------------ */

.list-view {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.list-view .member-card img {
  display: none;
} /* -- list image --*/

.list-view .member-card h2,
.list-view .member-card p {
  text-align: left;   
} /* -- list text --*/

