@media only screen and (min-width: 38rem) {
/* -- list view ------------------------ */
.list-view *.member-card {
    flex-direction: row;
    text-align: center;
  }

.list-view .member-card img {
  width: 100px;
  height: 100px;
  display: block;
  margin-right:20px;
}
.list-view .member-card h2,
.list-view .member-card p {
  text-align: left;
  padding: 0 20px;
}

}