/* ------------------------------- Colour Scheme ------------------------------ */
/* #B4BEC9 light gray
/* #159A9C aqua green
/* #002333 navy blue
/* #DEEFE7 pastel green
/* FFFFFF white

/* ------------------------------- main ------------------------------ */

/* -------------------------------nav ------------------------------ */

#nav-chamber {
  background-color: #002333;
}
#nav-chamber a {
  color:#ffffff;
}
#nav-chamber .current {
  background-color:#9c1581;
}
/* ------------------------------- hero ------------------------------ */

.hero {
  text-align: right;
  display: block;
  width: 100%;              /* make it responsive */
  min-width: 500px;         /* limit size on large screens */
  height: 200px;
  background-image: url('../images/home-hero-sml.webp'); /* default: mobile */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  margin: 0 auto;
  }
  #h1-chamber{
  color:#ffffff;
  font-size:2rem;
  text-align: right;
  margin: 50px 30px 10px;
  }
  #but-chamber{
    padding: 10px 25px;
    margin: 0 30px;
    border-radius: 7px;
    border:none;
    background-color:#9c1581;   
  }
  #but-chamber a, #but-article a{
    text-decoration: none;
    color: #fff;
  }

  /* ------------------------------- sections ------------------------------ */

article {
  margin:  10px;
  background-color: #e6f1f1;
  overflow: hidden;
  color: #002333;
}

.home-container {
  background-color: #9c1581;
}
.home-container h2, p{
  color: #fff;
}
#but-article{
  background-color: #ffffff;
  color: #9c1581;
}
#but-article a {
  color: #9c1581;
}

#weather-box  {
  display: flex;
  margin-top: 25px;
}

.weather-text {
  vertical-align: top;;
}
.weather-text p{
  color: #002333;
}
#graphic {
  margin-top: 0;
  width: 110px;
  height: 110px;  
}
.weather-container  {
  text-align: center;
  padding-bottom: 20px;
}
#weather-conbox {
  justify-items: center;
  padding-top: 30px;
}
.weather-container  p{
  text-align: left;
  font-size: 1.4rem;
    color: #002333;
    margin: 10px;
}

/* -- weather ------------------------------ */

.home-container *,  .home-container h4:not(.titlebar) {
  padding: 10px;
}
.home-container h2 {
  margin-top: 5px;
  font-size: 1.5rem;
  margin: 0;
  text-align: left;
}
.home-container p {
  font-size: 1.1rem;
  margin-top: -10px;
}
.titlebar {
  margin: 0;
  padding: 10px;
  color: #fff;
  background-color: #002333;
  text-align: left;
  
}
.home-container button {
  display: block;
  background-color:#9c1581;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  margin: 10px 10px 15px 10px;  
  border: none;
}
.home-container button:hover {
  background-color: #3a8589 ;
  cursor: pointer;
}




