@media only screen and (min-width: 38rem) {

    /* ------------------------------- nav ----------------------------- */
    header {
        grid-template-columns: 24px auto ; 
    }
    /* ------------------------------- hero ---------------------------- */
    #h1-chamber{
    font-size:3rem;
    text-align: right;  
    margin-top: 50px
    }
    .hero {
    width: 900px; /* adjust as needed */
    height: 260px; /* adjust as needed */
    background-image: url('../images/home-hero.webp');
    }
    .hero h1 {
    text-align: right;
    padding-left: 550px;
    font-size:3rem;
    }

    #main-title {  
    margin: 10px 10px -10px 10px;
    }
    /* ------------------------------- sections ------------------------ */
    #main-title, .home-container, .current-weather, .weather-container, .titlebar {
        margin: 0;
    }
    /* -----article events ----------------- */
    .events {
        display: grid;
        grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 1rem;
    }
    .home-container {
        grid-column:1/4;
    }
    /* -----article current weather -------- */
    .current-weather {
        grid-column:4/6;
        background-color:#B4BEC9;
    }
    .current-weather h4{
        flex: 1 100%;
       margin: 0  ;
       height: 8%;
    }
    .current-weather #graphic {
    margin: 0;
    }
    .weather-text {
        width: 120px;
        padding: 0;
        margin: 0 0 -15px 0;
    }
    .weather-text p{
        margin-bottom: -15px;
        font-size:small
    
    }
    /* -----article weather container------- */
    .weather-container {
        grid-column: 6/ 8;
        background-color:#B4BEC9;
    }
    .weather-container #todaytemp {
       margin-top: 10px;
    }
    
    
    /* ------------------------------- footer -------------------------- */


   /* -- busines directory list view ------------------------ */
.list-view *.member-card {
    flex-direction: row;
    text-align: center;
  }

.list-view .member-card img {
  width: 100px;
  height: 100px;
  display: block;
  margin-right:20px;
}
.list-view .member-card h2,
.list-view .member-card p {
  text-align: left;
  padding: 0 20px;
}

   
    

   

    
    
    
 
    
    
    
   
    

  
}