
@media only screen and (min-width: 38rem) {
  
    body{
        width: 900px;
        margin: 0 auto;
    }

    /* ------------------------------- nav ----------------------------- */
    header {
        grid-template-columns: 24px 1fr; 
    }
    #ham-btn{
        display: none;
    }
    .nav-chamber{
        display: block
    }
    .nav-chamber ul {
        display: flex;
    }
    .hero h2{
        font-size:3rem;
         margin-top: -5px;
    }


  #discover-title{
    padding: 120px 10px 10px 20px;
  }
    #join-title{
        display: block;
        margin:0px 15px -15px;
        padding: 25px 0 3px;
    }

    #home-title{
   margin: 30px 0 15px 15px;
    }

/* ------------------------------- footer ----------------------------- */
footer  {
    display: flex;
    padding-bottom: 30px;
}


  /* -------------------------------------------- home page */
    .home{
        display: flex;
    }
    .home article{
        flex: 1;
    }
    .weather .current{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 48%;
    }
    .weather img{
    margin-left: -40px;
    }
    .weather #temp{
    display: grid;
    grid-template-columns: 1fr;
    padding: 30px 0;
    }
    .weather #temp p{
    margin-bottom: -5px;
    }

   /* -- busines directory list view ------------------------ */
    

/* ---------------------------------- card --*/
.member-card{
  display: flex;
}
.member-card img {
  display: block;
  height: 120px;
  width: 120px;
  margin-left: 10px;
} /* -- list image --*/

.member-card h2 {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  width: 27%;
  margin-left: 30px;
  text-align: left;
} 
.member-card .membership{
 width: 20%;
 font-size: 1.4rem;
 margin: 0 20px;
}
.member-card p {
  font-size: 1rem;
  line-height: 1.5rem;
} /* -- list text --*/

/* ---------------------------------------- Grid view toggle */

.grid-view {

  gap: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
}

.grid-view .member-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "name name"
    "img membership"
    "address address";
    margin: 20px 10px 30px 10px !important;

}/* -- grid flow --*/

.grid-view .member-card img{
  margin-right:20px;
  display: block;
  height: 100px;
  width: 100px;
}/* -- default img --*/

.grid-view .member-card h2 {
  grid-area: name; 
  text-align: center;
  padding-bottom: 20px;
  font-size: 1.5rem;
  width: 100%;
} 
.grid-view .member-card .membership{
grid-area: membership;
flex-direction: column; 

}
.grid-view .member-card p {
  grid-area: address;
  text-align: center;
  padding-top: 20px;
 
}

/* ---------------------------------------- List view toggle */

.list-view {
  gap:20px;
}

.list-view .member-card{
  display: flex;
}
.list-view .member-card img {
  display: block;
  height: 120px;
  width: 120px;
  margin-left: 10px;
  
} /* -- list image --*/

.list-view .member-card h2 {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  width: 27%;
  margin-left: 30px;
  text-align: left;

} 
.list-view .member-card .membership{
 width: 20%;
 font-size: 1.4rem;
 margin: 0 20px;

}
.list-view .member-card p {
  font-size: 1rem;
  line-height: 1.5rem;
} /* -- list text --*/


    /* ------------------------------------------- join page */
   .join-events{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding:0;
    }
    #show-here{
    background-color:rgba(255, 255, 255, 0);
   
    }
    #levels-gift{
    background-color: rgba(255, 255, 255, 0);
    }
    /* ------------------------------------------- discover */
    
    #allplaces {
    grid-template-columns: repeat(2, 1fr);
    }
    #allplaces div img {
        width: 420px;
    }
    #allplaces div p{
         width: 350px;
         line-height: 1.3em;
    }
   
    /*  forecast---------------------------*/
    .forecast p{
    text-align: center;
    font-size: 1rem;
        color: #002333;
    margin-bottom: -5px;
    }
    .forecast .last{
    padding-bottom: 20px;
    }
}

