@media only screen and (min-width: 38rem) {

    body, .hero{
        width: 900px;
        margin: 0 auto;
    }

    /* ------------------------------- nav ----------------------------- */
    header {
        grid-template-columns: 24px 1fr; 
    }
    #ham-btn{
        display: none;
    }
    .nav-chamber{
        display: block
    }
    .nav-chamber ul {
        display: flex;
    }
    .hero h1{
        font-size: 3rem;
         margin-top: -5px;
    }
    #home-title, #join-title{
        display: block;
        margin: 70px 15px -15px;
        padding: 25px 0 3px;
    }

/* ------------------------------- footer ----------------------------- */
footer div p{
    margin: -3px;
}

  /* -------------------------------------------- home page */
    .home{
        display: flex;
    }
    .home article{
        flex: 1;
    }
    .weather .current{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 48%;
    }
    .weather img{
    margin-left: -40px;
    }
    .weather #temp{
    display: grid;
    grid-template-columns: 1fr;
    padding: 30px 0;
    }
    .weather #temp p{
    margin-bottom: -5px;
    }

   /* -- busines directory list view ------------------------ */
    .member-card img{
    
    display: block;
    }/* -- default img --*/

    .list-view *.member-card {
        flex-direction: row;
        text-align: center;
    }
    .list-view .member-card img {
    width: 100px;
    height: 100px;
    display: block;
    margin-right:20px;
    }
    .list-view .member-card h2,
    .list-view .member-card p {
    text-align: left;
    }
    .grid-view .member-card h2{
    text-align: center;
    }
    .member-card h2 {
    font-size: 1.8rem;
    } /* -- business name --*/
    .member-card .membership {
   font-size: 1rem;
    color: #b88a00;
    }/* -- business membership --*/

    /* ------------------------------------------- join page */
   .join-events{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding:0;
    }
    #show-here{
    background-color:rgba(255, 255, 255, 0);
   
    }
    #levels-gift{
    background-color: rgba(255, 255, 255, 0);
    }

}