@media only screen and (min-width: 600px) {

#allplaces div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    }
    #allplaces div img {
        width: 300px;
        height: 100%;
    }
}