.weather {
    border: 1px solid #5d6f67;
    border-radius: 10px;
    text-align: center;
}
.weather h2{
    color: #3a5250;
    margin: .3rem 0;
}

.weather #description {
    text-transform: capitalize;
    color: #3a5250;
    margin: .3rem 0;
}

.weather #temp {
    font-size: 2rem;
    color: #537279;
    margin: .3rem 0;
}